In [3]:
import pandas as pd

df = pd.read_csv('data/augmented_population.csv', index_col=0)
df

        age  sex
0       2.1    1
1      25.6    0
2      23.6    0
3      49.6    1
4      28.6    0
...     ...  ...
18695  46.0    0
18696  11.0    1
18697   5.0    1
18698  50.0    0
18699  23.0    1

[18700 rows x 2 columns]

In [4]:
houses_pop = 8100
tents_block1 = (len(df) - houses_pop) / 4 * 0.5
tents_block2 = (len(df) - houses_pop) / 4 * 0.3
tents_block3 = (len(df) - houses_pop) / 4 * 0.2

In [5]:
dims_isoboxes = (29, 28)  # 812
dims_block1 = (20, 67)  # 1340
dims_block2 = (53, 15)  # 795
dims_block3 = (19, 28)  # 532

In [7]:
from network_utils import *

grid_isoboxes = create_grid(dims_isoboxes[0], dims_isoboxes[1], 0)
grid_block1 = create_grid(dims_block1[0], dims_block1[1], grid_isoboxes[-1][-1] + 1)
grid_block2 = create_grid(dims_block2[0], dims_block2[1], grid_block1[-1][-1] + 1)
grid_block3 = create_grid(dims_block3[0], dims_block3[1], grid_block2[-1][-1] + 1)