In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/augmented_population.csv')
print(df)

       Unnamed: 0   age  sex
0               0   2.1    1
1               1  25.6    0
2               2  23.6    0
3               3  49.6    1
4               4  28.6    0
...           ...   ...  ...
18695       18695  46.0    0
18696       18696  11.0    1
18697       18697   5.0    1
18698       18698  50.0    0
18699       18699  23.0    1

[18700 rows x 3 columns]

In [2]:
A_MALES = -9.58814632
B_MALES = 0.61453804
A_FEMALES = -9.91023535
B_FEMALES = 0.47451181

def sigmoid(x):
    return 1 / (1 + np.exp(-x))

def deathrate_male(x):
    return sigmoid(np.sqrt(x) + A_MALES) * B_MALES


def deathrate_female(x):
    return sigmoid(np.sqrt(x) + A_FEMALES) * B_FEMALES

def get_deathrate(age, sex):
    if sex == 0:
        return deathrate_male(age)
    
    else:
        return deathrate_female(age)

In [5]:
deathrates = []
for _, row in df.iterrows():
    deathrates.append(get_deathrate(row['V1'], row['V2']))

df['death_rate'] = deathrates

sorted_df = df.sort_values(by=['V1'])

In [6]:
older_than_50 = sorted_df[sorted_df['V1'] > 60]

older_than_50[older_than_50['V2'] == 0]

       Unnamed: 0    V1  V2  death_rate
3234         3235  60.1   0    0.084534
12305       12306  60.1   0    0.084534
11292       11293  60.1   0    0.084534
707           708  60.1   0    0.084534
8464         8465  60.2   0    0.085005
...           ...   ...  ..         ...
8797         8798  85.8   0    0.257725
9666         9667  85.8   0    0.257725
5057         5058  86.0   0    0.259341
3226         3227  86.1   0    0.260149
10724       10725  89.7   0    0.289293

[269 rows x 4 columns]